@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto-v15-latin-100.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-v15-latin-regular.woff) format('woff');
}

body {
	background: #dcdcdc;
	/*background: url(http://thepatternlibrary.com/img/an.jpg);*/
	color: #FFF;
	/*font-size: 5.5em;*/
}

.number {
	border: 1px solid #1b1b1b;
	background: #383838;
	height: 100px;
	line-height: 100px;
	border-radius: 0;
	/*padding-top: 10%;*/
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 1.5em;
	width: 100%;
}

.btn:active, .btn:hover {
	color: #ffc41f;
}

.btn:active {
	/*border: 2px solid #1b1b1b;*/
	/*box-shadow: inset 0px 0px 3px #000;*/
	background: #2d2d2d;
}

.calculator {
	background: #1b1b1b;
}

.result {
	height: 150px;
	padding: 5%;
	font-size: 4.5em;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

.operator {
	font-size: 0.3em;
}

.bg-orange {
	background: #ffc41f;
}

.bg-orange:hover {
	color: #FFF;
}

.nopadding {
	padding: 0;
}

.double-height {
	height: 200px;
	line-height: 200px;
}

/*.text {
	line-height: 10%;
}*/

@media (min-width: 500px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.container {
		/*margin: 10px;*/
	}
}