<!doctype html>
<html ng-app="todoApp">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="js/angular.min.js"></script>
	<script src="js/scripts.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<h2>Pretty awesome KALKULAJDA</h2>
		<div ng-controller="TodoListController as todoList">
			<!-- <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span> -->
      <!-- <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul> -->
      <span>{{todoList.todos}}</span>
      <span>{{todoList.operands}}</span>
      
      <!-- <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form> -->
      <!-- <span ng-click="todoList.operandsInsert()">+</span>
      <span>-</span> -->
      <div class="row">
      	<div class="row">
         <span ng-click="todoList.operandsInsert('1')" class="btn btn-default number">1</span>
         <span ng-click="todoList.operandsInsert('2')" class="btn btn-default number">2</span>
         <span ng-click="todoList.operandsInsert('3')" class="btn btn-default number">3</span>
         <span ng-click="todoList.operandsInsert('')" class="btn btn-default number">+</span>
       </div>
       <div class="row">
         <span ng-click="todoList.operandsInsert('4')" class="btn btn-default number">4</span>
         <span ng-click="todoList.operandsInsert('5')" class="btn btn-default number">5</span>
         <span ng-click="todoList.operandsInsert('6')" class="btn btn-default number">6</span>
         <span ng-click="todoList.operandsInsert('')" class="btn btn-default number">-</span>
       </div>
       <div class="row">
         <span ng-click="todoList.operandsInsert('7')" class="btn btn-default number">7</span>
         <span ng-click="todoList.operandsInsert('8')" class="btn btn-default number">8</span>
         <span ng-click="todoList.operandsInsert('9')" class="btn btn-default number">9</span>
         <span ng-click="todoList.operandsInsert('9')" class="btn btn-default number">*</span>
       </div>
       <div class="row">
        <span ng-click="todoList.operandsInsert('0')" class="btn btn-default text-center number">0</span>
        <span ng-click="todoList.operandsInsert('')" class="btn btn-default number">/</span>
      </div>
      <div class="row">
        <span ng-click="todoList.operandsInsert('')" class="btn btn-default number">=</span>
      </div>
    </div>
  </div>
</div>
</body>
</html>